* {
    font-family: Futura, Helvetica, Arial, sans-serif;
    font-weight: 200;
  }
  
  html, body {
    
    background: #3e4144;
    margin: 20px;
    color: white;
    -webkit-font-smoothing: antialiased;
  }
  
  
  dd {
    font-weight: bold;
  }
  
  button {
    background-color: whitesmoke;
    border-radius: 5px;
    border: 0px;
    color: #3e4144;
    cursor: pointer;
    margin-right: 5px;
    margin-left: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
  }
  
  button:hover {
    background-color: grey;
    color: black;
  }
  
  button:focus{ 
    outline: none;
  }
  
  .p-1 {
    padding: 1px;
  }

  li{
    list-style: none;
  }

  .row{
    display: flex;
  }

  .col{
    flex-grow: 1;
    padding: 5px;
  }
  
  input{
    display: block;
    margin: 5px;
    padding: 5px;
    border: 0;
    outline: none;
  }

  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }

  input[type=number] { -moz-appearance:textfield; }