html, body{
    margin: 10px;
    background-color: var(--surface-b);
    font-family: var(--font-family);
}

.text-layout{
    color: var(--text-color);
    background-color: var(--surface-c);
    margin: 15px 0;
    padding: 15px;
}